.additional-product {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-column-gap: 79px;
    margin-bottom: 86px;
  }
}

.additional-product__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 2;
    margin: 0;
  }
}

.additional-product__item {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 226px;
    white-space: nowrap;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 288px 244px;
    grid-column-gap: 38px;
  }
}

.additional-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  position: relative;
  padding-right: 20px;
  width: fit-content;
  background-color: @white;
  margin-bottom: 36px;
  margin-top: 0;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: @green;
    top: calc((1em / 2) + 5px);
    z-index: -1;
  }

  &::after {
    left: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-right: 40px;
    padding-left: 36px;
    margin-top: 5px;

    &::before {
      left: -100vw;
    }

    @media (min-width: @desktop-width) {
      margin-top: 13px;
      padding-left: 0;

      &::before {
        margin-left: -40px;
      }
    }
  }
}
