.contacts {
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 436px;
    min-height: 201px;
    top: 50px;
    left: 0;
    background-color: @white;
  }
}

.contacts__invite {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-black;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}
