.example {
  background-color: @special-gray;
}

.example__wraper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.example__content {
  @media (min-width: @desktop-width) {
    width: 436px;
    margin-right: 100px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  color: @black;
  font-family: @font-oswald;
  font-weight: normal;
}
