.contacts__invite {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-black;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}
