.page-main__title {
  font-family: @font-oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.page-main__description {
  font-family: @font-oswald;
  color: @black;
  text-transform: uppercase;
}
