.product-info__link {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.product-info__item {
  display: flex;
}

.product-info__characteristic,
.product-info__value {
  font-size: 12px;
  line-height: 16px;
}
