.product-promo {
  background-color: @promo-green;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  height: 289px;
  text-align: center;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
