.program-type {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-column-gap: 80px;
  }
}

.program-type__wrapper {
  background-color: @gray;
}

.program-type__title,
.program-type__link {
  text-transform: uppercase;
  font-family: @font-oswald;
  color: @black;
}

.program-type__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
}

.program-type__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}
