.promo {
  margin-bottom: 22px;
  background-image: linear-gradient(to top, @white 0, rgba(104, 183, 56, 0.87) 0), url("../img/index/index-background-mobile.jpg"), linear-gradient(to top, @white 178px, #65a83d 0);
  background-repeat: no-repeat;
  background-size: 320px 302px, 320px 302px, auto 302px;
  background-position: top center, top center, bottom;
  background-color: #65a83d;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, @white 0, rgba(104, 183, 56, 0.87) 0), url("../img/index/index-background-mobile@2x.jpg"), linear-gradient(to top, @white 178px, #65a83d 0);
  }

  @media (min-width: @tablet-width) {
    background: none;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.promo__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 709px;
    display: grid;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 148px;
    margin-top: 14px;
    width: 100%;
  }
}

.promo__content {
  min-height: 166px;

  @media (min-width: @tablet-width) {
    min-height: auto;
  }
}

.promo__title,
.promo__text {
  font-family: @font-oswald;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: 414px;
    margin-left: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: @white;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 42px;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
    margin-top: 94px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.promo__link {
  padding: 11px 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    width: 244px;
    padding: 17px 0;
    font-size: 20px;
    line-height: 20px;
    z-index: 1;
    margin-top: 29px;
    margin-left: 82px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-top: 33px;
    grid-row-start: 2;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    transform: translateX(-162px) translateY(12px);
  }
}

.promo__picture {
  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}
