.promo {
  margin-bottom: 22px;
  background: linear-gradient(to bottom, @green 100%, @white 0%) no-repeat;
  position: relative;
  background-size: 100% 302px;

  @media (min-width: @tablet-width) {
    background: none;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    margin-left: 82px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 135px;
    margin-top: 14px;
  }
}

.promo__title,
.promo__text {
  font-family: @font-oswald;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-left: 5px;
    width: 414px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: @white;
  margin-top: 28px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 42px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
    margin-top: 83px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.promo__link {
  height: 40px;
  padding-top: 11px;
  margin-top: 2px;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    width: 244px;
    height: 54px;
    padding-top: 18px;
    font-size: 20px;
    line-height: 20px;
    z-index: 1;
    margin-top: 29px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-top: 32px;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 552px;
    height: 499px;
    transform: translateX(-25%);
  }
}
