.slider__button {
  font-family: @font-oswald;
  color: @black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider__images-wraper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
