.slider {
  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: auto;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
  }
}

.slider__button {
  font-family: @font-oswald;
  color: @black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: dashed 1px rgba(0, 0, 0, 0.24);

    &:focus,
    &:hover {
      border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    }

    &:active {
      border: none;
      padding-bottom: 1px;
    }
  }
}

.slider__wraper {
  margin-bottom: 24px;
  height: 240px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 520px;
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
    margin-left: 33px;
  }
}

.slider__image--before {
  @media (min-width: @tablet-width) {
    width: 50%;
    height: 520px;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-image: linear-gradient(to bottom, @white 169px, @special-gray 0%);
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to bottom, @white 192px, @gray 0%);
    width: 372px;
  }
}

.slider__image--before .slider__picture {
  display: block;
  width: 311px;
  height: 232px;
  object-fit: cover;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    max-width: 708px;
    height: 520px;
    object-fit: contain;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    max-width: 690px;
  }
}


.slider__image--after .slider__picture {
  display: block;
  width: 251px;
  height: 240px;
  object-fit: cover;
  margin: auto;


  @media (min-width: @tablet-width) {
    object-fit: contain;
    width: 708px;
    max-width: 708px;
    height: 516px;
    margin-left: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    max-width: 690px;
    height: 519px;
    margin-left: 26px;
  }
}

.slider__image {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.slider__image--current {
  display: block;
}

.slider__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 570px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-left: 121px;
  }
}

.slider__switch {
  position: relative;
  width: 82px;
  height: 12px;
  background-color: @white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  margin-left: 19px;
  margin-right: 16px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__switch--before {
  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background: @green;
    border-radius: 6px;
    top: 3px;
    left: 5px;
  }
}

.slider__switch--after {
  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background: @green;
    border-radius: 6px;
    top: 3px;
    right: 5px;
  }
}

.slider__range {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 428px;
    height: 6px;
    cursor: pointer;
    background-color: #dcdcdc;
    appearance: none;
    outline: none;
    border-radius: 6px;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 34px;
      height: 34px;
      border: 13px solid @white;
      border-radius: 50%;
      background-color: @green;
      box-shadow: 0 0 1px 1px #cdcdcd;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

      &:hover {
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
      }

      &:active {
        box-shadow: 0 0 1px 1px @green;
        filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      }
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 8px;
      height: 8px;
      border: 13px solid @white;
      border-radius: 50%;
      background-color: @green;
      box-shadow: 0 0 1px 1px #cdcdcd;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

      &:hover {
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
      }

      &:active {
        box-shadow: 0 0 1px 1px @green;
        filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      }
    }
  }
}
